*{
    margin: 0;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}
.hero{
      height: 100vh;
      width: 100%;
      background-image: url(background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #fff;
    font-size: 36px;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-shadow: 3px 3px 3px ;
}
span{
    color: rgb(199, 55, 163);

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 12px 25px;
    border: 2px solid transparent;
    background-color:rgb(240, 87, 240) ;
    border-radius: 30px 0 30px 0;
    margin: 8px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalizes;
    text-shadow: 2px 2px 2px;
}
nav ul li a:hover{
    color: rgb(230, 74, 134);
    transition: .3s;

}
.btn{
    background-color:rgb(240, 87, 240) ;
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 10px  25px;
    border-radius: 30px 0 30px 0;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}
h1{
    color: #fff;
    margin: 20px 0 20px;
    font-size: 65px;
}
h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;

}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;

}
.newslatter  form{
    width: 390px;
    /*background-color: #fff;*/
    max-width: 100%;
    position: relative;


}
.newslatter form  input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 13px 14px 15px ;
    border: 2px solid;
    border-radius: 30px;
    
}
.newslatter form  input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f900f9;
    color: #fff;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 6px;
    right: 12px;
    transition: transform .4s;
}

.newslatter form  input:last-child:hover{
    transform: scale(1.2);
}
.about{
    width: 100%;
    padding: 10px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
    margin-left: 50px;
    
    
}
.about-text{
    width: 550px;
    height: 600%;
    margin: 300px;
    margin-top: 300px;
   

}
.main{
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fff;
    font-size: 51px;
    text-transform: capitalize;
    margin-bottom: 30px;
    
}
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 21px;
    margin-bottom: 24px;
    text-transform: capitalize;
}.about-text p{
    color: #fcfc;
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    
}
button{
    background-color: #f900f9;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 0 20px 0 20px;
    transition: .4s;
    cursor: pointer;


}
button:hover{
    transform: scale(1.2);
    
}
.material-symbols-outlined {
    margin-top: 30px;
    font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
  
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}
.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px ;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;

}

h5{
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}
.card .button{
    background-color: #f900f9;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 0 20px 0 20px;
    transition: .4s;
    cursor: pointer;
}
.card .button:hover{
    background-color: transparent; 
    border: 2px solid #f900f9;
     cursor: pointer;  
}
.contact-me{
    width: 100%;
    height: 280px;
    background:#191919 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
    }
    .contact-me p{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .contact-me .button-two{
        background-color: #f900f9;
        color: #fff;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 0 20px 0 20px;
        transition: .4s;
        cursor: pointer;

    }
    .contact-me .button-two:hover{
        background-color: transparent; 
        border: 2px solid #f900f9;
         cursor: pointer;  
    }
    footer{
        position: relative;
        width: 100%;
        height: 400px;
        background: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer p:nth-child(1){
        font-size: 34px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: bold;
    }
    footer p:nth-child(2){
        color: #fff;
        font-size: 25px;
        width: 500px;
        text-align: center;
        line-height: 26px;

 
    }
    .social{
        display: flex;
    }
    .social a{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f900f9;
        border-radius: 50%;
        margin: 22px 10px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: .4s;
        cursor: pointer;

    }
    .social a:hover{
        transform: scale(1.2);
    }
    .end{
        position: absolute;
        color: #f900f9;
        bottom: 35px;
        font-size:20px;
    }

